:host {
    position: fixed;
    bottom: 0;
}

.banner_container {
    width: 100vw;
    height: 3rem;
    background: #BDBDBD;
    border-top: 3px solid #36fdff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .heading {
        color: #ECEFF1;
        font-family: "Lobster Two", cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 1.5rem;
        padding-left: 1rem;
        text-shadow: 1px 1px 6px #e91e4e;
    }

    .banner_avatar {
        position: absolute;
        left: calc(50% - 5rem);
        bottom: 0rem;
        width: 10rem;
        height: 10rem;

        &:before {
            content: '';
            background: url(/assets/images/circle_1.png);
            width: 10rem;
            height: 10rem;
            z-index: 1000;
            position: absolute;
            background-size: contain;
        }

        img {
            border-radius: 50%;
            margin-left: 2rem;
            margin-top: 2rem;


        }

        &:hover {

            &:before {
                animation-name: rotate;
                animation-iteration-count: infinite;
                animation-duration: 1.5s;
            }
        }
    }

    .banner_actions {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0.5rem;
        box-sizing: border-box;

        .banner_action {
            padding: 0.5rem 1rem;
            border: 1px solid #607D8B;
            border-radius: 0.25rem;
            background: #fff;
            color: #E91E63;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            cursor: pointer;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                background: #EEEEEE;
                color: #03A9F4;

            }
        }
    }

}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}